* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: thick double rgba(229, 221, 221, 0.8);
    position: fixed;
    background-color: black;
}

.logo {
    width: 5rem;
}

.nav {
    display: flex;
    width: 35%;
    justify-content: space-around;
    font-size: 20px;
    font: italic 20px serif;
}

.nav a {
    text-decoration: none;
    color: rgba(229, 221, 221, 0.8);
}

.nav :hover {
    color: #b7a789;
}

#mainTitle {
    display: flex;
    color: rgba(229, 221, 221, 0.8);
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.hometitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.textinformation {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    font: italic 20px serif;
}

.textinformation p {
    padding: 50px;
}

.fondo {
    background-color: rgb(142, 142, 94);
    padding-top: 100px;
}

.imgborder {
    border: thick double black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    width: 500px;
}

.sectionimg {
    padding-left: 45rem;
}

/* contact page*/

.imageborder {
    border: thick double black;
    width: 500px;
}

h1 {
    display: flex;
    color: rgba(229, 221, 221, 0.8);
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.textinformation2 {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font: italic 20px serif;
    width: 50%;
    margin-left: 25%;
}

.text2 {
    padding: 50px;
}

.titles2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.hometitle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    background-color: rgb(142, 142, 94);
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    font-weight: bold;
    margin: 2rem;
    align-items: center;
    justify-content: space-around;
}

.footer a {
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: space-around;
}

/* aboutus*/
.img1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: justify;
    font: italic 20px serif;
    margin-left: 200px;
}

.text1 {
    margin-left: 10%;
}

.border1 {
    border: thick double black;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* info page*/

table,
tr,
th,
td {
    border: thick double rgba(229, 221, 221, 0.8);
    border-collapse: collapse;
    text-align: center;
}

table thead {
    font-weight: bold;
}

table {
    margin-left: 33%;
    margin-top: 5%;
}

td {
    padding: 2rem;
}

/* tips page*/
.tips {
    display: flex;
    align-items: center;
    padding: 70px;
    justify-content: center;
    font: italic 20px serif;
    list-style-type: disc;
}

.img5 {
    margin: 30px;
    border: thick double black;
    width: 400px;
}

.ul {
    list-style-type: disc;
    margin-left: 15px;
}

.tips2 {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    font: italic 20px serif;
    list-style-type: disc;
    margin-left: 18%;
}

/*raffle pag*/
.formimg {
    display: block;
    margin: 2rem;
    justify-content: center;
    border: thick double black;
    width: 400px;
}

.formdiv {
    display: block;
    color: black;
    margin-top: 1rem;
}

.body2 {
    margin-left: 30rem;
    display: flex;
    align-items: center;
    font: italic 20px serif;
}

.formclass {
    margin-left: 10rem;
    color: black;
    align-items: center;
}

h4 {
    margin: 0;
    margin-top: 1rem;
}

textarea {
    resize: none;
}

.terms {
    font-size: small;
}

.iframe {
    margin-top: 1rem;
    border-top: thick double rgba(229, 221, 221, 0.8);

}

iframe {
    margin: 1rem;
    margin-right: 80rem;
}

.send {
    margin-left: 6rem;
}

@media only screen and (min-width: 769px) and (max-width:1024px) {
    header {
        min-width: 769px;
        justify-content: space-around;
    }

    .nav {
        width: 70%;
    }

    .fondo {
        font-size: small;
    }

    .formimg {
        margin-left: 5%;
        width: 300px;
        margin-bottom: 5%;
    }

    .formclass {
        margin-left: 8rem;
        font-size: small;
    }

    iframe {
        margin: 1;
        margin-right: 0;
    }

    .sectionimg {
        padding-left: 4rem;
        margin-top: 1rem;
    }

    .imgborder {
        width: 400px;
    }

    .img1 {
        margin: 0;
    }

    .text1 {
        margin-left: 2rem;
    }

    table {
        margin-left: 5rem;
    }

    .tips {
        padding: 0;
    }

    .tips2 {
        margin: 0;
        padding: 0;
    }

    .ul {
        margin-left: 0;
    }

    .img5 {
        width: 300px;
    }
 }

    @media only screen and (min-width: 320px) and (max-width:768px) {
        header {
            width: 60%;
            min-width: 320px;
            justify-content: space-around;
        }
        .nav{
            width: 60%;
            font-size: medium;
        }
        .body2{
            margin-top: 1rem;
            margin-left: 0%;
        }
        .sectionimg{
            padding-left: 5rem;
        }
        .fondo {
            font-size: small;
        }
        .imgborder{
            width: 350px;
            margin-top: 2rem;
        }
        .textinformation p{
            padding: 0;
            font-size: medium;
        }
        .img1{
            margin: 0;
        }
        .text1{
            margin-left: 2rem;
            font-size: medium;
        }
        .border1{
            width: 250px;
        }
        .imageborder{
            width: 350px;
            margin-top: 3rem;
        }
        .textinformation2{
            font-size: medium;
        }
        .footer{
            font-size: small;
        }
        table{
            margin-left: 8rem;
            margin-top: 5rem;
        }
        td{
            padding: 1rem;
        }
        .tips{
            padding: 0;
            font-size: medium;
        }
        .tips2 {
            margin: 0;
            padding: 0;
            font-size: medium;
        }
        .img5{
            width: 300px;
            margin-top: 5rem;
        }
        .formclass{
            margin-left: 1rem;
            font-size: medium;
        }
        .formimg{
            width: 300px;
            margin: 1rem;
            height: 15rem;
        }
        .formdiv{
            margin-top: 0;
        }
        iframe{
            margin-right: 0;
            width: 150px;
            height: 150px;
        }
    }